@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;600&family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arima', sans-serif;
    background-color: #fff;
}

header{
    position: relative;
    background: url('/images/ada.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
.overlay{
    background: rgba(0,0,0,0.5);
    height: 100vh;
}
.navbar{
    background: rgb(48, 47, 47);
    padding:0 1rem;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    height: 50px;
    align-items: center;
}
li a{
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1rem 0.6rem;
}
li a:hover, a.active{
    background-color: #fff;
    color: red;
}

.details{
    position: absolute;
    color: #fff;
    background-color: rgb(48, 47, 47);
    width: 70%;
    right: 0;
    bottom: 20%;
    padding: 1rem;
    font-weight: 700;
}
.details h3{
    color: red;
}
.index-socials{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
    background-color: rgb(48, 47, 47);
    bottom: 0;
}

section{
    margin-top: 80px;
}
#tiidelab{
    color: red;
    font-weight: 700;
}
.box{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
z-index: -1;
}
.about{
    display: flex;
    min-height: calc(100vh - 50px);
    align-items: center;
    margin-bottom: 2rem;
}
.about-img{
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin: 2rem 0;
    z-index: -1;
}
.square{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.about-text{
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    z-index: -1;
}
.about-text h2{
    font-weight: 700;
    margin-bottom: 2rem;
}
footer{
    background-color: rgb(48, 47, 47);
    color: #fff;
    padding: 20px;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.social-links a, .index-socials a{
    color: #fff;
}
.social-links a:hover, .index-socials a:hover{
    color: red;
}

/* works */
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.works, .skills{
    width: 80%;
    margin: 2rem auto;
}
.netflix, .tribe-teq, .space, .portfolio{
    background: url('/images/netflix.png') no-repeat center center/cover;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.tribe-teq{
    background: url('/images/tribe-teq.png') no-repeat center center/cover;
}
.space{
    background: url('/images/space.png') no-repeat center center/cover;
}
.portfolio{
    background: url('/images/portfolio.png') no-repeat center center/cover;
}
.work-container::-webkit-scrollbar, .skill-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.work-container, .skill-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    overflow: auto;
}
.work-item, .skill-item{
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    border: 1px solid grey;
    border-radius: 10px;
}
.work-item-info{
padding: 1rem;
}
.work-item-info a{
    text-decoration: none;
    color: red;
    background-color: rgb(48, 47, 47);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.work-item-info a:hover{
    background-color: rgb(22, 22, 22);
}
.scroll{
    background-color: #fff;
    color: rgb(48, 47, 47);
    border: 1px solid rgb(48, 47, 47);
    width: fit-content;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    display: none;
}
.works h2, .skills h2{
    font-weight: 700;
    text-transform: uppercase;
    color: red;
}

.skill-item-info{
    width: 200px;
}
.skill-item-info{
    text-align: center;
    margin: 0 auto;
}
.skill-item-info p{
    font-weight: 700;
}
.skill-logo{
    font-size: 4rem;
}

@media (max-width: 500px){
    .work-item{
        flex-direction: column;
    }
    li a{
        font-size: 0.6rem;
        font-weight: bold;
        padding: 1rem 0.6rem;
    }
    .details{
        width: 100%;
    }
    .netflix, .tribe-teq, .space, .portfolio{
        width: 100%;
    }
    .index-socials{
        top: 5%;
        left: 0;
        height: fit-content;
        gap: 1.2rem;
        font-size: 1rem;
        
    }
}
@media (min-width: 501px) and (max-width: 990.9px){
    .skill-item{
        padding: 1rem 0;
    }
    .skill-container{
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}
@media (min-width: 991px){
    .details{
        width: 30%;
    }
    .about{
        width: 80%;
        margin: 0 auto;
    }
    .about-text{
        width: 50%;
       height: fit-content;
       display: flex;
       flex-direction: column;
       margin: auto 0 auto auto;
    }
    .square{
        position: relative;
        display: block;
        width: 350px;
        height: 500px;
        margin: 0.5rem;
        border: 10px inset red;
        background: url('/images/ada-2.jpg') no-repeat center center/cover;
        z-index: -1;
    }
    .about-img{
        display: none;
    }
    .box{
        flex-direction: row;
        height: calc(100vh - 50px);
        align-items: center;
        justify-content: evenly;
        margin: 0 auto;
    }
    .work-item, .skill-item{
        width: 50%;
        background-color: #fff;
    }
    .work-container, .skill-container{
        flex-direction: row;
        background-color: rgb(48, 47, 47);
        border: 1px solid grey;
        padding: 2rem;
        border-radius: 5px;
    }
    .scroll{
        display: block;
    }
    .netflix, .tribe-teq, .space, .portfolio{
        height: 100%;
        width: 300px;
    }
    .skill-item{
        height: 200px;
    }
    li a{
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem;
    }
    .about-text{
        font-size: 1.3rem;
    }
}